{
  "extends": ["airbnb", "prettier", "plugin:import/errors", "plugin:import/warnings"],
  "env": {
    "jest": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "document": true,
    "sessionStorage": true,
    "window": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 1,
    "import/prefer-default-export": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "eslint/no-shadow": 0,
    "no-shadow": "off",
    "no-case-declarations": 0,
    "no-unreachable": 0,
    "react/forbid-prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
  // "parser": "@babel/eslint-parser"
}
